<h1>読書記録</h1>
<% if user_signed_in? %>
  <% @items.each do |item| %>
    <p><%= item.name %> : <%= item.date %>  : <%= item.user.nickname.present? ? "読者【 #{item.user.nickname}】" : "会員No.#{item.user.id}" %></p>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>